.fleft, .fright {display: block;}

.fleft {
   float: left;
}
.fright {
   float: right;
}

.show {
   display: block !important;
}
.hide {
   display: none !important;
}

.opac0{opacity:0 !important;}
.opac1{opacity:1 !important;}

.darkBehText {
   height: 100%;
   width: 100%;
   display: block;
   margin: auto;
   opacity: 0.4;
   position: absolute;
   top: 0;right: 0;
   bottom: 0;left: 0;
   outline: 1px solid #000;
}

.pdfFile {
   display: table;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 100px;
   font-family: 'HelveticaNeueCyrMedium';
   background: url(../img/ico/pdfDownload.png) no-repeat top right;
   font-size: 16px;
   text-transform: capitalize;
   padding-right: 30px;
}
.pdfTab2 {
   margin-top: 47px;
   margin-bottom: 61px;
}

/* шрифтr  размеры */
.tac {text-align: center;}
.colWhite {color: #fff}

.fnt14 {font-size: 14px}
.fnt18 {font-size: 18px}
.fnt24 {font-size: 24px}
.fnt26 {font-size: 26px}
.fnt30 {font-size: 30px}
.fnt36 {font-size: 36px}
.fnt48 {font-size: 48px}
.fnt58 {font-size: 58px}
.fnt60 {font-size: 60px}
.fnt80 {font-size: 80px}
.fnt150 {font-size: 150px}

.col333 {color: #333;}
.col4c4c {color: #4c4c4c;}

.uLight {font-family: 'HelveticaNeueCyrUltraLight_0';}
.medium {font-family: 'HelveticaNeueCyrMedium';}
.light {font-family: 'HelveticaNeueCyrLight';}
.thin {font-family: 'HelveticaNeueCyrThin';}

ul.picIcons {margin-top: 88px;}

.vnimanie {
   padding-left: 38px;
   letter-spacing: -1px;
   position: relative;
   background: url(../img/ico/vosklicZnYell.png) no-repeat left 4px;
}

/* .vnimanie:before {
   content: "!";
   color: #ffe25e;
   font-family: 'HelveticaNeueCyrLight';
   font-size: 70px;
   position: absolute;
   top: 17px;
   left: 0;
} */

ul.picIcons li {
   height: 134px;
   display: block;
   float: left;
   padding: 87px 0 0;
   text-align: center;
}

ul.picIcons a {
   color: #999999;
   font-size: 14px;
   text-transform: uppercase;
   text-decoration: none;
   font-family: 'HelveticaNeueCyrMedium';
   letter-spacing: -0.7px;
}

.picTeplo {
   background: url(../img/svg/picTeploobmen.svg) no-repeat top center;
   -webkit-background-size: 51px 53px;
   background-size: 51px 53px;
}
.picSolnce {
   background: url(../img/svg/picSolncezawita.svg) no-repeat top center;
   -webkit-background-size: 56px 55px;
   background-size: 56px 55px;
}
.picCapli {
   background: url(../img/svg/picKapli.svg) no-repeat top center;
   -webkit-background-size: 43px 54px;
   background-size: 43px 54px;
}
.picKopilka {
   background: url(../img/svg/picKopilka.svg) no-repeat top center;
   -webkit-background-size: 50px 56px;
   background-size: 50px 56px;
}
.pic4asi {
   background: url(../img/svg/pic4asy.svg) no-repeat top center;
   -webkit-background-size: 53px 50px;
   background-size: 53px 50px;
}

.picNetShuma {
   background: url(../img/svg/picTishina.svg) no-repeat top center;
   -webkit-background-size: 40px 53px;
   background-size: 40px 53px;
}

.picSpiliVili {
   background: url(../img/svg/picShpili-Vili.svg) no-repeat top center;
   -webkit-background-size: 50px 57px;
   background-size: 50px 57px;
}

.picPalitra {
   background: url(../img/svg/picPalitra.svg) no-repeat top center;
   -webkit-background-size: 57px 57px;
   background-size: 57px 57px;
}

.prcntAftr {display: inline;}

.prcntAftr:after{
   content: "%";
   color: #808080;
   font-size: 36px;
   font-family: 'HelveticaNeueCyrLight';
   margin: 0 0 0 17px;
   position: absolute;
   top: 65px;
}