/* #shit {
   height: 20px;
   width: 100px;
   display: block;
   position: fixed;
   margin: auto;
   background: #fff;
   border: 1px solid #555;
   line-height: 1;
   top: 0;
   right: 0;
   bottom: 0;
   text-align: center;
   left: 0;
   color: #000;
   font-size: 20px;
   opacity: 0.4;
   z-index: 20;
} */

body{
   height: auto;
   width: auto;
   min-width: 979px;
   margin: 0;
   padding: 0;
   background: #fff;
   /* -webkit-font-smoothing: antialiased; */
}
html{
   height: 100%;
   width: auto;
   min-width: 979px;
   margin: 0;
   padding: 0;
}

div[class^="block"]{
   display: block;
   clear: both;
   position: relative;
}

.wrapCntr {
   height: inherit;
   width: 979px;
   display: block;
   margin: auto;
   overflow: hidden;
}

div[class^="frame_"]{
   height: inherit;
   width: 979px;
   display: block;
   position: absolute;
   overflow: hidden;
}

.block_5_dostoinstva,
.block_8_steklopaket,
.block_11_stekPaketMore {background-color: #f7f7f7;}


.tg {border-collapse:collapse;border-spacing:0;margin:0px auto; width: 100%;}
.tg tr {height: 64px; color: #333}
.tg tr:nth-child(odd){background-color: #e6e6e6;}
.tg thead tr:nth-child(odd){background-color: transparent;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l {width: auto; padding: 0 0 0 27px; text-align: left; vertical-align:middle}
.tg thead th {font-size: 18px}
.tg tbody tr {font-size: 14px}
.tg .tg-baqh{text-align:center;vertical-align:middle}
.tg tr,.tg th,.tg td {border: 0;font-family: 'HelveticaNeueCyrMedium';}

.width410{width: 410px !important}
.width490{width: 490px !important}
.width610{width: 610px !important}

.tableColGray{color: #333333}
.tableColBlue{color: #2095cf}
.tableColGreen{color: #1dba84}
.tableColRed{color: #e25858}

.tablicaStekPak {
   display: block;
   overflow: visible;
}

#tablicaStekPak_1_wrap,
#tablicaStekPak_2_wrap,
#tablicaStekPak_3_wrap {
   height: 560px;
   display: block;
   position: relative;
}
#tablicaStekPak_3_wrap {height: 700px;}

#tablicaStekPak_1_wrap {min-height: 570px}

#tablicaStekPak_1_wrap .frame_1 > img,
#tablicaStekPak_2_wrap .frame_1 > img {
   display: block;
   position: absolute;
   margin: auto;
}

.stekloPak.ptLeft {left: -100px; z-index: 3;}
.stekloPak.ptMid {left: 0;right: 0; z-index: 2;}
.stekloPak.ptRight {right: 0; z-index: 1;}

.tablicaStekPak > a,
.tablicaStekPak > a,
.tablicaStekPak > a {
   margin-top: 70px;
   margin-bottom: 78px;
   font-family: 'HelveticaNeueCyrMedium';
   display: block;
   text-align: center;
}

.frame_2 > p {margin-bottom: 46px}