@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Condiment&display=swap');
/* 
    font-family: 'Comfortaa', cursive;
    font-family: 'Condiment', cursive;
*/
:root {
    --col-background: #1A1A1A;
    --col-font: #E6E6E6;
    --back-btn-bg-green: #42D500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
html, body, #app {
    height: 100%;
    min-width: 320px;
}
body {
    background-color: var(--col-background);
    color: var(--col-font);
    font-family: 'Comfortaa', cursive, monospace;
}
h1 {
    font-size: 48px;
    margin-bottom: 40px;
}
p ~ p {margin-top: 20px;}
a {
    color: inherit;
}
[href]:hover {
    animation: color-blink .2s infinite linear alternate;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.header,
.footer
{
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.group_read {
    text-align: justify;
    text-indent: 8%;
    columns: 2;
    column-gap: 40px;
}

.main-menu {
    font-size: 36px;
    font-weight: bold;
    column-count: 2;
}
.main-menu__link {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    margin-bottom: 6px;
    animation: color-blink .2s infinite linear alternate;
}
.main-menu__link span {display: inline-block;transition: transform .2s ease;}
.main-menu__link:hover span {
    text-decoration: underline;
    transform: translateX(2%);
}

.main-menu__link::before {
    content: "*";
    height: 27px;
    display: block;
    font-size: 52px;
    position: absolute;
    left: 0;
    transform-origin: center center;
    animation: star-spin 2s infinite linear;
}

.main-menu_margins {
    margin-top: 30px;
    margin-bottom: 30px;
}
.main-menu_font-smaall {font-size: 24px;}

.simple-menu {
    columns: 4;
}
.simple-menu_margins {margin: 30px 0;}
.simple-menu a {display: block;}

.element-aligner {
    display: flex;
}
.element-aligner_right {
    justify-content: end;
}
.element-aligner_margins {
    margin-top: 40px;
}

.back-button {
    background-color: var(--back-btn-bg);
    color: var(--col-background);
    display: inline-block;
    padding: 20px 40px;
    font-size: 22px;
    text-decoration: none;
}
.back-button:hover {
    animation: bg-blink .2s infinite linear alternate;
}
.back-button_position-br {
    position: fixed;
    bottom: 30px;right: 30px;
}

.back-button_green {background-color: var(--back-btn-bg-green);}

.logo-label {
    width: 360px;
    display: block;
    margin: auto;
    text-align: center;
    top: 20px;
}
.logo-label_anim-breath {animation: breath 2s infinite ease-in-out alternate;}

.logo-label__main {
    color: #A87600;
    display: inline-block;
    font-size: 142px;
    font-family: 'Condiment', cursive;
    transform: skew(0, -10deg);
}
.logo-label__phrase {
    color: #3BBCD1;
    display: inline-block;
    font-size: 28px;
    line-height: 20px;
    position: absolute;
    bottom: 50px; right: -22px;
}

.logo-label_regular {
    width: auto;
    display: inline-block;
    position: relative;
}
.logo-label_regular .logo-label__main {color:#FFB200;font-size: 50px;}
.logo-label_regular .logo-label__phrase {display: none;}

/* KEYFRAMES */

@keyframes breath {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}

@keyframes star-spin {
    0% {transform: rotateZ(0turn);}
    100% {transform: rotateZ(1turn);}
}

@keyframes color-blink {
    0% {color: #E6E6E6;}
    20% {color: #FFE600;}
    33% {color: #4BD900;}
    66% {color: #75BCF1;}
    75% {color: #F075E4;}
    100% {color: #FF8094;}
}
@keyframes bg-blink {
    0% {background-color: #E6E6E6;}
    20% {background-color: #FFE600;}
    33% {background-color: #4BD900;}
    66% {background-color: #75BCF1;}
    75% {background-color: #F075E4;}
    100% {background-color: #FF8094;}
}

@media (max-width: 821px){
    .main-menu,
    .simple-menu,
    .group_read
    {
        columns: auto;
    }
}

@media (max-width: 426px){
    h1 {font-size: 28px;}
    .main-menu {font-size: 24px;}
    .main-menu_font-smaall {font-size: 18px;}
    .main-menu__link::before {height: 15px;font-size: 28px;}
    .logo-label {width: auto;top: auto;}
    .logo-label__main {font-size: 90px;}
    .logo-label__phrase {display: none;}
}