body {
    height: auto;
    font-size: 0;
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    padding-bottom: 300px;
    font-family: monospace;
}

.owner {
    width: 20%;
    height: 800px;
    display: inline-block;
    outline: 1px solid #33FFAD;
    vertical-align: top;
    text-align: justify;
    font-size: 0;
    position: relative;
}

.owner__item-1 {
    height: 1300px;
    background-color: #FF3400;
    margin-top: 300px;
}
.owner__item-2 {
    height: 1300px;
    background-color: #FF8000;
    margin-top: 50px;
}
.owner__item-3 {
    height: 1800px;
    background-color: #FFB300;
    margin-top: 900px;
}
.owner__item-4 {
    height: 2200px;
    background-color: #FFE600;
    margin-top: 400px;
}
.owner__item-5 {
    height: 2300px;
    background-color: #D9F200;
    margin-top: 1100px;
}

.floater {
    min-height: 120px;
    background-color: #5500CC;
    display: block;
    font-size: 14px;
    overflow: hidden;
}

.floater p {
    margin: 0;
    padding: 15px;
}

.floater.active {
    width: inherit;
    position: fixed;
    top: 0;
}
.floater.active.stop {
    width: auto;
    position: absolute;
    top: auto;
    bottom: 0;
}

@media (max-width: 1025px){
    .owner {
        width: 33.333%;
        margin-top: 0;
    }
}

@media (max-width: 426px){
    .owner {
        width: 100%;
        margin-top: 0;
    }
}