body {
    height: 4000px;
    font-size: 0;
    background-color: #1A1A1A;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

[class^="container"]{
    width: 20%;
    height: 800px;
    display: inline-block;
    outline: 1px solid #33FFAD;
    vertical-align: top;
    text-align: justify;
    font-size: 0;
    position: relative;
}

.container_1 {
    height: 1300px;
    background-color: #FF3400;
    margin: 300px 0 0 0;
}
.container_2 {
    height: 1300px;
    background-color: #FF8000;
    margin: 50px 0 0 0;
}
.container_3 {
    height: 1800px;
    background-color: #FFB300;
    margin: 900px 0 0 0;
}
.container_4 {
    height: 2200px;
    background-color: #FFE600;
    margin: 400px 0 0 0;
}
.container_5 {
    height: 2300px;
    background-color: #D9F200;
    margin: 1100px 0 400px 0;
}

.floater {
    min-height: 120px;
    background-color: #5500CC;
    display: block;
    font-size: 14px;
    overflow: hidden;
}

.floater p {
    margin: 0;
    padding: 15px;
}

.floater.active {
    width: inherit;
    position: fixed;
    top: 0;
}
.floater.active.stop {
    width: auto;
    position: absolute;
    top: auto;
    bottom: 0;
}