* {
    margin: 0;
    padding: 0;
}

body {
    color: #c3e88d;
    font-size: 16px;
    font-family: consolas, Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    color: #F07178;
    font-size: 32px;
    margin: 0 auto 30px;
}

p {
    margin: 0 auto 20px;
}

.container {
    max-width: 1200px;
    display: flex;
    background-color: #22263A;
    text-align-last: left;
}

.sided-info {
    flex-basis: 280px;    
    color: #FFCB6B;
}

.sided-info__item {
    font-size: 14px;
}

.sided-info__heading {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #c792ea;
    margin: 0 0 7px;
}

.articles {
    background-color: #2B3045;
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
}

.articles p {
    text-indent: 20px;
}

.articles__container {
    flex-basis: 640px;
}

.articles span {color: #c792ea;}

._mod_container_txt-alg-left {
    vertical-align: top;
    padding: 60px 20px;
}

@media (max-width: 1025px){
    .container {margin: 0 20px;}
}