body {
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #1D1F21;
    color: #DDDDD1;
    overflow: hidden;
    position: relative;
    font-family: consolas;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div {position: relative;}

#changeColor {
    height: 30px;
    width: 40px;
    border: 1px solid #aaa;
    background-color: rgba(0,0,0,.75);
    display: block;
    font-size: 0;
    text-align: justify;
    padding: 0 15px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
}
#changeColor:after {
    content: '';
    height: 0;
    width: 100%;
    display: inline-block;
    position: relative;
}
#changeColor div {
    height: 7.5px;
    width: 7.5px;
    background-color: red;
    display: inline-block;
    margin: 11px 0 0;
}
#changeColor div+div {background-color: green;}
#changeColor div+div+div {background-color: blue;}

.mid {
    height: 100%;
    display: table;
    margin: auto;
    position: relative;
    z-index: 1;
}

.vert {
    display: table-cell;
    vertical-align: middle;
}

#floorState {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 30px;
}

#fs_count {}

#fs_count li {
    height: 20px;
    width: 20px;
    background-color: #ccc;
    display: block;
    cursor: pointer;
    margin: 0 0 20px;
    -webkit-transition: transform .3s ease,
        background .3s ease;
    -o-transition: transform .3s ease,
        background .3s ease;
    transition: transform .3s ease,
        background .3s ease;
}

#fs_count li.active,
#fs_count li:hover
{
    background-color: red;
    transform: scale(1.5);
}

.floorWrap {
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    
    counter-reset: section;
}

.fHolder {
    height: 100%;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 0;
    text-align: center;
    position: relative;
}

.fHolder:before{
    counter-increment: section;
    content: counter(section);
    height: 50px;
    width: 50px;
    border: 1px solid #666;
    background-color: rgba(0,0,0,.5);
    display: block;
    margin: auto;
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    z-index: 1;
}

.fHolder .clr {
    height: 50%;
    width: 25%;
    display: inline-block;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}