* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #9FC2D6;
    font-family: monospace;
    font-size: 14px;
}

.bound {
    height: 1px;
    width: 100%;
    display: block;
    background-color: red;
    display: block;
    position: fixed;
    z-index: 1;
}

.story-block {
    width: 45%;
    display: block;
    margin: auto;
    color: #ddd;
    padding: 30px 0;
}

.story-block > p {
    background-color: #5895B7;
    padding: 20px 60px;
    margin-bottom: 20px;
    opacity: 0.5;

    transition: transform .6s, opacity .6s;
}

.story-block > p.active {
    background-color: #2E9957;
    opacity: 1;
    transform: scale(1.04);
}