body {
    height: auto;
    font-size: 0;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.someBlock1,
.someBlock2,
.someBlock3
 {
    height: 280px;
    width: 280px;
    background-color: rgb(80, 158, 182);
    display: block;
    position: absolute;
    top: 0;left: 0;
}

.someBlock2 {
    width: 234px;
    height: 234px;
    background-color: rgb(80, 182, 85);
}
.someBlock3 {
    width: 180px;
    height: 180px;
    background-color:rgb(218, 69, 114);
}